.store {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;

    img {
        width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
    }

    .store-list-detail {
        flex: 1 1 0;
    }

    .store-list-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .store-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .store-category {
        vertical-align: middle;
        line-height: 1;
    }
}

@media screen and (max-width: 576px) {
    .store-item {
        flex-wrap: wrap;

        .image-container {
            width: 100%;
            text-align: center;
        }

        img {
            margin: 0 0 1rem 0;
            width: 100px;
        }
    }
}