<div class="row">
    <div class="max-width margin-bottom: 20px">
      <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button 
              (click)="comment.toggle($event)"
              label="Give us some feedback" 
              icon="pi pi-comment"></p-button>
        </div>
      
        <div class="p-toolbar-group-center">
          <div class="center-wrapper">
            <h1><b>Sales Prediction</b></h1>
            <h3>HackGT8</h3>
          </div>
        </div>
        
        <div class="p-toolbar-group-right">
            <p-button 
              label="Powered by NCR and Google Cloud" 
              icon="pi pi-cloud" 
              class="disable-click"
              styleClass="p-button-success"></p-button>
        </div>
      </p-toolbar>
    </div>
  </div>
  <p-overlayPanel #comment [showCloseIcon]="true" [style]="{width: '450px'}">
    <h4>Comment:</h4>
    <div class="p-field">
      <textarea
        #commentInputTextarea
        pInputTextarea
        class="input-wrapper"
        id="comment"
        type="comment"
        aria-describedby="comment-help"
        [(ngModel)]="commentInput"></textarea>
      <small 
        id="comment-help"
        *ngIf="commentInputTextarea.classList.contains('ng-touched') && (commentInput.length === 0)"
        class="p-error">Please add a comment.</small>
    </div>
    
    <p-button
      [disabled]="commentInput.length === 0"
      label="Submit" 
      styleClass="p-button-success"
      (click)="comment.hide(); onHide();"></p-button>
  </p-overlayPanel>